@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Recipe Book</h1>
    <p>This is my ASP.NET MVC recipe book web application.</p>
    <p>To add, view, modify, and/or delete a recipe select recipes from the menu.</p>
</div>
